@font-face {
    font-family: 'absans';
    src: url('absans-main/fonts/Absans-Regular.woff2') format('woff2'),
         url('absans-main/fonts/Absans-Regular.woff') format('woff');
}

body {
    font-family: 'absans', sans-serif;
    color: black; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background: white; 
}

#root:has(a:hover) a:not(:hover){
    filter: blur(4px);
    opacity: 0.5;
}

#root a {
    text-decoration: none;
    color: inherit;
    transition: filter 0.3s ease-out, opacity 0.3s ease-out;
    pointer-events: auto;
}


#root a:hover {
    color: #444444; 
}



#particles-js {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0; 
    background-color: transparent;
    transition: filter 0.3s ease-out;
}



.flex-container {
    display: flex;
    flex-direction: row;
    
   
    position: relative;
    z-index: 1; 
    background-color: transparent;


    height: 100vh;
    color: black; 
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 2rem;

    pointer-events: none;
}



#box1, #box2 {
    background-color: transparent; 
    padding: 0rem;
    z-index: 2; 
    pointer-events: auto;
    cursor: pointer;
}

#box1 {
    font-size: 2rem;
    font-weight: lighter;
    text-align: left;
    
}

#box1 a {
    text-decoration: none;
    color: inherit;
    pointer-events: auto;
}

#box1 a:hover {
    color: #444444; 

}

#box2 {
    font-size: 5rem;
    font-weight: lighter;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}