@font-face {
            font-family: 'absans';
            src: url('absans-main/fonts/Absans-Regular.woff2') format('woff2'),
                 url('absans-main/fonts/Absans-Regular.woff') format('woff');
        }

        body {
            font-family: 'Inter', 'absans', sans-serif;
            color: black;
            margin: 0;
            padding: 0;
            overflow: hidden;
            height: 100vh;
            width: 100vw;
            background: white;
        }

        #main-nav:has(a:hover) a:not(:hover) {
            filter: blur(4px);
            opacity: 0.5;
        }

        #main-nav {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        #main-nav {
            line-height: 1.2;
        
        }

        #root a {
            text-decoration: none;
            color: inherit;
            transition: filter 0.3s ease-out, opacity 0.3s ease-out;
            pointer-events: auto;
        }

        #root a:hover,
        .panel a:hover {
            color: #575656;
        }

        #particles-js {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 0;
            background-color: transparent;
            transition: filter 0.3s ease-out;
        }

        .flex-container {
            display: flex;
            flex-direction: row;
            position: relative;
            z-index: 1;
            background-color: transparent;
            height: 100vh;
            color: black;
            justify-content: space-between;
            align-items: flex-start;
            padding-top: 1rem;
            padding-left: 1rem;
            padding-right: 2rem;
            pointer-events: none;

        }

        #box1,
        #box2 {
            background-color: transparent;
            padding: 0rem;
            z-index: 2;
            pointer-events: auto;
            cursor: pointer;
        }

        #box1 {
            font-size: 2rem;
            text-align: left;            
            
        }

        #box1 a {
            text-decoration: none;
            color: inherit;
            position:fixed;
        }

        #box2 {
            font-size: 5rem;
            font-weight: lighter;
            text-align: right;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: relative;
           
        }
        
        summary { list-style: none; list-style-type: none; }
        summary::-webkit-details-marker { display: none; }
        ul { list-style-type: none; }
        

        .hidden {
            display: none !important;
        }

        .panel {
            position: relative;
            background-color: transparent; 
            backdrop-filter: blur(4px);
            padding-left: 1rem;
            padding-right: 1rem;
            padding-bottom: 5rem;
            padding-top:0% !important;
            width: 50vw;
            font-weight: lighter;
            display: flex;
            flex-direction: column;
            gap: 1.5rem; 
            align-items: flex-start; 
            text-align: left;
            height:800px;
            overflow: hidden;
            
        }

        .panel-back-button {
            padding-top: 0% !important;
            font-size: 5rem;
            font-weight: lighter;
            color: black;
            cursor: pointer;
            align-self: flex-end;
        }
        .panel-back-button:hover {
            color: #575656;
        }

        #project-panel {
            overflow-y: auto;
        }
        #contact-panel{
            overflow:hidden;
        }

        .panel-project-item {
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            padding-bottom: 1.5rem;
            width: 100%;

        }
        .panel-project-item:last-child {
            border-bottom: none;
            padding-bottom: 0;
            
        }

        .panel-project-item h3 {
            font-size: 2.5rem;
            font-weight: bold;
            margin: 0 0 0.5rem 0;
            color: black;
            font-weight: lighter;
        }
        
        .panel-project-item p {
            font-size: 1.5rem;
            color: black;
            margin: 0;
            line-height: 1.5;
            font-weight: lighter;
           
        }
        
        .panel-project-item a {
             color: rgba(255, 255, 255, 0.2); /* Blue link */
        }

        #contact-panel a {
            text-decoration: none;
        }
         #contact-panel p {
            font-size: 2rem;
            margin: 0;
         }
         #contact-panel {
            height: 20rem;
         }

         #contact-link {
            text-decoration: underline !important;
         }

         .copyable-email {
            cursor: pointer !important;
            user-select: none;
            transition: color 0.2s ease;
         }

        .copyable-email:hover {
            color: #575656;
        }
        .copy-text {
            font-size: 1.5rem;
            opacity:0.6;
            display: block;
            font-weight: 300;
        }