@font-face {
    font-family: 'absans';
    src: url('absans-main/fonts/Absans-Regular.woff2') format('woff2'),
         url('absans-main/fonts/Absans-Regular.woff') format('woff');
}

#links {
    padding-left: 1rem;
    padding-right: 2rem;
    padding-top: 0rem;
}

#links a {
    text-decoration: none;
    color: inherit;
}

#links a:hover {
    color: orange;
}

body {
    font-family: 'absans', sans-serif;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

#particle-js{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height:100vh;
    z-index: 0;
    background-color: transparent;
}

.flex-container {
    display: flex;
    flex-direction: row;
    z-index: 1; 
    color: white;
    position: relative;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 0;
    
}

#box1 {
    z-index: 1;
    font-size: 2em;
    font-weight: lighter;
    text-align: left;
    padding-top: 1rem;

}

#box2 {
    z-index: 2;
    font-size: 4.5em;
    font-weight: lighter;
    text-align: right;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0rem;
}